body {
  background-color: #011528;
  width: "100%";
}

.comm-left {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}

.comm-right {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}

.comm-main {
  margin-top: 60px;
}

.site-layout .site-layout-background {
  background: #011528;
  width: "100%";
}
